@use "../node_modules/normalize.css/normalize.css";
@use "../node_modules/sanitize.css/sanitize.css";

@use "../node_modules/leaflet/dist/leaflet.css";

@use "./scss/button.scss";
@use "./scss/form.scss";

body {
  font-family: sans-serif;
  overflow: hidden;
}

main {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.5em;
}
